.gqbu78bdjfm-icon {
  position: absolute;
  top: 1438px;
  left: 750px;
  border-radius: var(--br-3xs);
  width: 630px;
  height: 500px;
  object-fit: cover;
}
.desktop-1-child,
.fqqiavjejto-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.fqqiavjejto-icon {
  top: 1439px;
  left: 60px;
  border-radius: var(--br-3xs);
  width: 630px;
  height: 500px;
  object-fit: cover;
}
.desktop-1-child {
  top: -1.5px;
  left: 1px;
  width: 1440px;
  height: 185px;
}
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  top: -1246px;
  left: -151px;
  background-color: var(--color-white);
  width: 1127px;
  height: 184px;
}
.desktop-1-inner {
  top: 241px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1441px;
  height: 119px;
}
.download-1-icon {
  position: absolute;
  top: 34px;
  left: 648px;
  width: 151px;
  height: 101px;
  object-fit: cover;
}
.club-king-room,
.our-hotel-rooms,
.standard-twin-room {
  position: absolute;
  font-weight: 500;
  mix-blend-mode: normal;
}
.our-hotel-rooms {
  top: 183px;
  left: 365px;
  color: var(--color-rosybrown);
}
.club-king-room,
.standard-twin-room {
  top: 1740px;
  left: 185px;
  font-size: var(--font-size-21xl);
}
.club-king-room {
  top: 2292px;
  left: 227px;
}
.hdbcjhndf48-icon {
  position: absolute;
  top: 358px;
  left: 0;
  width: 1441px;
  height: 790px;
  object-fit: cover;
}
.desktop-1-child1,
.rectangle-icon {
  position: absolute;
  top: 989px;
  left: 61px;
  border-radius: var(--br-3xs);
  width: 1319px;
  height: 171px;
}
.desktop-1-child1 {
  top: 2550px;
  height: 277px;
}
.art5ucf2myy-icon,
.desktop-1-child2,
.w1re0lbbreo-icon {
  position: absolute;
  top: 1805px;
  left: 254px;
  border-radius: var(--br-3xs);
  width: 244px;
  height: 76px;
}
.art5ucf2myy-icon,
.w1re0lbbreo-icon {
  top: 0;
  left: 0;
  width: 630px;
  height: 500px;
  object-fit: cover;
}
.art5ucf2myy-icon {
  left: 689px;
}
.w1re0lbbreo-parent {
  position: absolute;
  top: 1997px;
  left: 60px;
  width: 1319px;
  height: 500px;
  overflow: hidden;
}
.check-rates,
.standard-room {
  position: absolute;
  top: 1829px;
  left: 310px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.standard-room {
  top: 1740px;
  left: 920px;
  font-size: var(--font-size-21xl);
}
.desktop-1-child3 {
  position: absolute;
  top: 1805px;
  left: 941px;
  border-radius: var(--br-3xs);
  width: 244px;
  height: 76px;
}
.check-rates1 {
  position: absolute;
  top: 1829px;
  left: 997px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 244px;
  height: 76px;
}
.check-rates2 {
  position: absolute;
  top: 24px;
  left: 56px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.desktop-1-child4,
.vector-parent {
  position: absolute;
  top: 2364px;
  left: 253px;
  width: 244px;
  height: 76px;
}
.desktop-1-child4 {
  top: 2701px;
  left: 512px;
  border-radius: var(--br-3xs);
  width: 418px;
}
.book-now {
  position: absolute;
  top: 2725px;
  left: 659px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.desktop-1-child5 {
  position: absolute;
  top: 853px;
  left: 535px;
  border-radius: var(--br-3xs);
  width: 371px;
  height: 76px;
}
.explore {
  position: absolute;
  top: 877px;
  left: 664px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.desktop-1-child6 {
  position: absolute;
  top: 989px;
  left: 61px;
  border-radius: var(--br-3xs);
  width: 1319px;
  height: 289px;
}
.bxbx-taxi-icon,
.claritywifi-solid-icon,
.dashiconseditor-kitchensink,
.ictwotone-pool-icon,
.makifitness-centre-11-icon {
  position: absolute;
  top: 1130px;
  left: 909px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.bxbx-taxi-icon,
.claritywifi-solid-icon,
.dashiconseditor-kitchensink,
.ictwotone-pool-icon {
  top: 1128px;
  left: 473px;
}
.bxbx-taxi-icon,
.claritywifi-solid-icon,
.dashiconseditor-kitchensink {
  left: 255px;
}
.bxbx-taxi-icon,
.claritywifi-solid-icon {
  left: 691px;
}
.bxbx-taxi-icon {
  left: 1127px;
}
.facilities {
  top: 1031px;
  left: 628px;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  color: var(--color-rosybrown);
}
.facilities,
.rooms-rates,
.welcome-to-bon {
  position: absolute;
  mix-blend-mode: normal;
}
.rooms-rates {
  top: 1334px;
  left: 564px;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  color: var(--color-rosybrown);
}
.welcome-to-bon {
  top: 681px;
  left: 244px;
  font-size: 80px;
  font-family: var(--font-segoe-ui);
}
.get-a-room,
.gym,
.kitchen,
.pool,
.taxi,
.wifi {
  position: absolute;
  top: 1204px;
  left: 244px;
  color: var(--color-rosybrown);
  mix-blend-mode: normal;
}
.get-a-room,
.gym,
.pool,
.taxi,
.wifi {
  left: 478px;
}
.get-a-room,
.gym,
.taxi,
.wifi {
  left: 698px;
}
.get-a-room,
.gym,
.taxi {
  left: 914px;
}
.get-a-room,
.taxi {
  left: 1135px;
}
.get-a-room {
  top: 2611px;
  left: 512px;
  font-size: var(--font-size-26xl);
  font-weight: 500;
}
.rectangle-div {
  position: absolute;
  top: 2889px;
  left: 1px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 469px;
}
.image-1-icon {
  position: absolute;
  top: 2950px;
  left: 56px;
  width: 154px;
  height: 126px;
  object-fit: cover;
}
.bon-hotels-head,
.p {
  margin: 0;
  font-weight: 500;
}
.p {
  font-weight: 300;
}
.bon-hotels-head-container {
  position: absolute;
  top: 3144px;
  left: 60px;
  display: inline-block;
  width: 263px;
  height: 83px;
  mix-blend-mode: normal;
}
.our-hotels {
  margin: 0;
}
.our-hotels-our-container,
.subcribe-for-offers {
  position: absolute;
  top: 2950px;
  mix-blend-mode: normal;
}
.our-hotels-our-container {
  left: 555px;
  display: inline-block;
  width: 194px;
  height: 249px;
}
.subcribe-for-offers {
  left: 1000px;
  font-size: 30px;
  font-weight: 500;
}
.desktop-1-child7,
.desktop-1-child8 {
  position: absolute;
  top: 3004px;
  left: 1000px;
  border-radius: var(--br-3xs);
  width: 371px;
  height: 75px;
}
.desktop-1-child8 {
  top: 3103px;
}
.email-address,
.subcribe-now {
  position: absolute;
  mix-blend-mode: normal;
}
.subcribe-now {
  top: 3126px;
  left: 1102px;
  font-weight: 500;
  display: inline-block;
  width: 159px;
  height: 28px;
}
.email-address {
  top: 3027px;
  left: 1027px;
  font-weight: 300;
  color: var(--color-gray-200);
}
.desktop-1-child9 {
  position: absolute;
  top: 268px;
  left: 318px;
  border-radius: var(--br-3xs);
  width: 192px;
  height: 60px;
}
.select-a-city {
  position: absolute;
  top: 287px;
  left: 335px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  color: var(--color-gray-200);
  display: inline-block;
  width: 142px;
  mix-blend-mode: normal;
}
.desktop-1-child10,
.desktop-1-child11,
.desktop-1-child12 {
  position: absolute;
  top: 268px;
  left: 523px;
  border-radius: var(--br-3xs);
  width: 192px;
  height: 60px;
}
.desktop-1-child11,
.desktop-1-child12 {
  left: 728px;
}
.desktop-1-child12 {
  left: 936px;
  width: 202px;
}
.check-availability,
.check-in,
.check-out {
  position: absolute;
  font-size: var(--font-size-xl);
  font-weight: 300;
  display: inline-block;
  mix-blend-mode: normal;
}
.check-in {
  top: 287px;
  left: 540px;
  color: var(--color-gray-200);
  width: 142px;
}
.check-availability,
.check-out {
  top: 286px;
}
.check-out {
  left: 745px;
  color: var(--color-gray-200);
  width: 142px;
}
.check-availability {
  left: 963px;
  width: 157px;
}
.deluxe-room,
.standard-view-room {
  position: absolute;
  top: 2284px;
  left: 952px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  mix-blend-mode: normal;
}
.standard-view-room {
  left: 181px;
}
.desktop-1-child13 {
  position: absolute;
  top: 2364px;
  left: 962px;
  border-radius: var(--br-3xs);
  width: 244px;
  height: 76px;
}
.check-rates3,
.good-people-good {
  position: absolute;
  top: 2388px;
  left: 1018px;
  font-weight: 500;
  mix-blend-mode: normal;
}
.good-people-good {
  top: 784px;
  left: 474px;
}
.bisearch-icon,
.lsdropdown,
.vector-icon {
  position: absolute;
  top: 190px;
  left: 1053px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.lsdropdown,
.vector-icon {
  top: -81px;
  left: 292px;
  width: 241px;
  height: 233px;
}
.vector-icon {
  height: 0.38%;
  width: 1.18%;
  top: 8.65%;
  right: 65.93%;
  bottom: 90.97%;
  left: 32.89%;
  max-width: 100%;
  max-height: 100%;
}
.dashiconscalendar-alt,
.dashiconscalendar-alt1 {
  position: absolute;
  top: 287px;
  left: 682px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.dashiconscalendar-alt1 {
  left: 890px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3358px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-ubuntu);
}
